/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');





body {
  min-height: 100vh;
  background: #eeeeee;
  transition: all 0.4s ease; /* Add transition for body movement */
}

.relative.items-center.w-full.px-5.py-12.mx-auto.md\:px-12.lg\:px-24.max-w-7xl {
  position: relative;
  align-items: center;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.createf{
    font-weight: 600;
    font-size: 40px;
    margin-top: 12px;
    margin-left: 90px;
    box-sizing: border-box;
    color: #d99e6d;
}

.button{
    padding: 1.25rem 1.5rem; /* 20px top/bottom, 24px left/right */
    font-size: 1rem; /* 16px */
    width: 100px;
    font-weight: 500; /* medium */
    text-align: center;
    color: #ffffff; /* white */
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    background-color: #d99e6d; /* orange */
    border-radius: 2rem; /* 12px */
}

.button:hover{
    background-color: #d0884d;
}

.cardy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.cardy p-6{
    box-shadow: #000000;
}


.cardy mt-4{
  background-color: #d99e6d;
}

.title {
    text-align: center;
}

.gitna {
    display: flex;
    align-items: center;
    height: 80vh;
}
@media (min-width: 1024px) {

  
  .rounded-xl {
    border-radius: 1.5rem; /* 24px */
  }
  
  .hover\:bg-gray-600:hover {
    background-color: #d0884d; /* gray */
  }
  
  .focus\:outline-none:focus {
    outline: none;
  }
  
  .focus\:ring-2:focus {
    box-shadow: 0 0 0 2px rgba(255, 81, 0, 0.5); /* blue */
  }
  
  .focus\:ring-offset-2:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  }

}

@media (min-width: 768px) {
  .relative.items-center.w-full.px-5.py-12.mx-auto.md\:px-12.lg\:px-24.max-w-7xl {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .relative.items-center.w-full.px-5.py-12.mx-auto.md\:px-12.lg\:px-24.max-w-7xl {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.max-w-7xl {
  max-width: 80rem; /* Adjust as needed */
}