/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

body {
  min-height: 100vh;
  background: #eeeeee;
  transition: all 0.4s ease; /* Add transition for body movement */
}

/* Pre css */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 60px;
  justify-content: center;
}

.nav_image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #efefef;
  padding: 15px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.sidebar.close {
  width: calc(55px + 20px);
}

.logo_items {
  gap: 6px;
}

.logo_name {
  font-size: 22px;
  color: #333;
  letter-spacing: 3px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}

#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #d99e6d;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}

#sidebar-close {
  display: none;
  color: #333;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.sidebar.close .title {
  opacity: 0;
}

.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}

.menu_title .line {
  opacity: 0;
}

.sidebar.close .line {
  opacity: 1;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #323232;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover {
  color: #5c5c5c;
  background-color: #efefef;
}

.link span {
  white-space: nowrap;
}

.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  left: -50px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.sidebar_profile .email {
  text-align: center;
  font-size: 15px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

/*----------------------------------- Main Body Section ----------------------------------------- */
.main-body {
    padding: 1rem;
    text-align: center;
    transition: all 0.4s ease; 
}

body.sidebar-hovered .main-body {
    margin-left: 270px;
  }
  
body:not(.sidebar-hovered) .main-body {
    margin-left: 75px;
  }
  
.main-body h2 {
  margin-bottom: 20px;
  color: #d99e6d;
}

.promo_card {
  background-image: url(/assets/orange.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 10px;
  height: 220px;
  padding: 1.5rem;
}
.promo_card span {
  margin-bottom: 10px;
  align-items: center;
}
.promo_card .title {
  font-size: 35px;
  justify-content: center;
}
.promo_card button {
  display: block;
  padding: 15px;
  width: 150px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
  
}

.promo_card button:hover {
  background-color: #e5c1a3;
  border: none;
}

/*---------------------------- Carousel -------------------------------------*/

.gallery{
  width: 100%;
}

.gallery-container{
  align-items: center;
  display: flex;
  padding-top: 50px;
  height: 400px;
  margin: 0 auto;
  max-width: 1500px;
  position: relative;
}

.gallery-item{
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1{
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.gallery-item-2{
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3{
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.gallery-item-4{
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5{
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-6{
  left: 100%;
  opacity: .10;
  transform: translateX(-50%);
}


.gallery-controls{
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.gallery-controls button{
  background-color: transparent;
  border: none;
  font-weight: 500;
  color: #4e4e4e; /* Ensure buttons are visible */
  cursor: pointer;
  font-size: 25px;
  margin: 0 20px; /* Adjust margin for better positioning */
  padding: 0 15px;
  text-transform: capitalize;
}

.gallery-controls button:hover {
  color: #333; /* Change color on hover for better visibility */
}

.gallery-controls button:focus{
  outline: none;
}

.gallery-controls-previous{
  position: relative;
}

.gallery-controls-previous::before{
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous:hover::before{
  left: -40px;
}

.gallery-controls-next{
  position: relative;
}

.gallery-controls-next::before{
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover:before{
  right: -40px;
}

.gallery-nav{
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li{
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected{
  background: #555;
}
.gallery-controls button {
  display: inline-block;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }

  .sidebar.close {
    left: -100%;
  }

  #sidebar-close {
    display: block;
  }

  #lock-icon {
    display: none;
  }

  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }

  #sidebar-open {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .logo a {
    margin-right: auto;
  }

  .header-icons .account {
    display: flex;
    margin-left: auto;
  }

  .container {
    flex-direction: row;
    align-items: flex-start; /* Align items at the top */
  }

  .side_navbar {
    width: 200px;
  }

  .main-body {
    flex: 1;
    margin-left: 20px;
    text-align: left;
  }

  .promo_card {
    margin-top: 20px;
    margin-left: 0;
  }
}
