@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.body {
    min-height: 100vh;
    transition: all 0.4s ease;
    overflow-x: hidden;
    font-family: 'Poppins', 'sans-serif';
  }

.body h2{
  position: absolute;
  color: #d99e6d;
  font-weight: 600;
  font-size: 30px;
  top: 17px;
  left: 80px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .summary-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .dashboard-container {
    width: 650px;
    padding: 20px;
    border: 8px solid #d99e6d;
    border-radius: 40px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  
  .dashboard-container rect {
    fill: #d99e6d;
  } 
  
  .dashboard-container h1{
    margin-bottom: 5px;
    margin-left: 0px;
    color: #d99e6d;
    font-size: 30px;
    font-weight: 600;
  }
  
  .project-report {
    margin-bottom: 20px;
    color: #d99e6d;
  }
  
  .project-report p {
    color: #d99e6d;
  }
  
  .project-report h3{
    color: #d99e6d;
  }
  
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
  }
  
  
  
  .progress {
    height: 20px;
    background-color: #e5c1a3;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 20px; /* Center the text vertically */
  }
  
  
  .datasadashboard {
    position: absolute;
    top: 100px;
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-left: 60px;
  }